html {
    @include width_height_element($width-html, $height-html);
    @include bgColor_fontFamily_fontSize($bg-color-home, $standard-font, $standard-font-size);
    @include page_layout_with_flexbox(center, center, row wrap);
}

/* Center the table in the page */
#table-education-container {
    @include page_layout_with_flexbox(center, center, row wrap);
    @include width_height_element(100%, 450px);
}

/* Styling the table */
table {
    border-collapse: collapse;
    border: 2px solid white;
    
    th {
        border-collapse: collapse;
        border: 2px solid white;
        padding: 20px;
    }
    
    td {
        border-collapse: collapse;
        border: 2px solid white;
        padding: 20px;
    }
}

/* Styling the button for ajax call */
#container-button {
    @include page_layout_with_flexbox(center, center, row wrap);
    position : fixed;
    width:     400px;
    bottom:    100px;
    left:      50px;
    
    #button-get-data {
        @include page_layout_with_flexbox(center, center, row wrap);
        color:              white;
        width:              300px;
        height:             50px;
        border:             1px solid rgb(247, 244, 244);
        border-radius:      6px;
        background-color:   rgb(34, 182, 34);
        font-size: 15px;
    }
}
